

// Header Css

.logo{
width:300px;
}

.headerbox{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top:1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 1rem;
.socialmediaheader{
	margin: 0 auto;
	padding-top: 1.5rem;
	padding-left: 49rem;
	i{
		padding-right: 1.5rem;
		color:$color__medium-grey-brand;
	}
}

}

.main-navigation{

	width: 100%;
	margin-top: $base__space-unit;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	margin-top: 0px;
	background:white;
}

.main-navigation li:first-child {
border-left: 1px solid #e1e1e1;
}

.main-navigation li {
	border-right: 1px solid #e1e1e1;
	color: $color__medium-grey-brand;
	font-weight: bold;
}

.main-navigation li a {
    padding: .75rem 1.5rem;
    font-weight: bold;
    color: $color__medium-grey-brand;
}

fieldset {
    border: 0;
    margin-bottom: -18px;
input.search-field {
        border: 0;
        background-color: #fff;
    }
}

li:hover a {
    color: #400c0d;
}



.main-navigation .current-menu-item:after {
    content: "";
    background-color: #db272a;
    display: block;
    height: 3px;
    margin-top: -3px;
    width: 100%;

    li: active{
    	color: #400c0d;
    }
}



// .main-navigation .current_page_ancestor:after, .main-navigation .current_page_item:after {


