/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.site-navigation{
@include container;
}

.hero {
	background: url(../../images/hero-bread.jpg) center no-repeat;
	justify-content: center;
	height:550px;
	margin-bottom: 3rem;
	display:flex;
	width:100%;
	align-items: center;

	 h1{
		color: white;
		font-family: $font__headline;
		font-size: 6rem;
		text-transform: uppercase;
	}
}



// Products / taxonomy 

.products{
	display: flex;
	@include container;
	// width: 100%;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;

	.product-type{
		text-align: center;
		line-height: 1.5rem;
		font-family: $font__headline;
		a{
			color: red;
			text-decoration: none;
			text-transform: none;
		}
	}

}


/* latest news */

.latestnews{
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	padding: 3rem 0;
	background-color: #fafafa;
	h2{
		text-align: center;
		text-transform: uppercase;
		font-size: 1.8rem;
		font-family: $font__headline;
	}
}

.container{
	background-color: white;
	border-bottom: 0px; 
	border-top: 0px;
}

.post-page{
	display: flex;
	@include container;
	justify-content: space-between;

	li{
	align-items: center;
	list-style: none;
	flex:1 0 25%;
	width: 25%;
	font-family: $font__main;
	font-size:1rem;
	color: $color__medium-grey-brand;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	line-height: 1.5;
	border-top: 10px;
	img{
		height: 200px;
		overflow: hidden;
		width:100%;

	}
}
}

// .postthumbnail{
// height: 200px;
// // width: 316px;
// overflow: hidden;
// // position: relative;
// }

.post-info{
	// border: 1px solid #e1e1e1;
	font-family: $font__main;
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	width: 250px;
	padding-left: 10px;
	// text-align: center;

	// text-overflow: ellipsis;
	// color:$color__medium-grey-brand;

	a{
		text-decoration: none;
		color: grey;
		font-weight: 700;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		text-align: left;

	}

}

// Contact page

.site-wrapper{
	display: flex;
	@include container;

}

#primary-1 {
font-family: $font__main;
font-size: 1rem;
line-height: 1.5;
color:$color__text-main;
width:73%;
border-right: 1px solid #e1e1e1;

}

.widget-area{
width: 27%;
padding-left: 5%; 

	a{text-decoration: none;
		color:red;}
}

	 ul{
		list-style: none;
		padding-left: 0px;
		margin: 0 auto;
		line-height: 2rem;

		a{ 
		text-decoration: none;
		color:red;

}
}


// Taxonomy-product-type page

.taxonomy-product-type{
display: flex;
@include container;
}


// Single Posts page

.wrapper-single-posts{
display: flex;
@include container;
}


//Single Product page

.wrapper-single-product{
display: flex;
@include container;

}

// Blog Page

.blogposts{
display: flex;
@include container;
}


